:root {
	--white-gradient: linear-gradient(to top, #ffeed59f 0%, var(--white) 100%);
	--red-gradient: linear-gradient(#be5041 20%, #925621 100%);
	--teal-gradient: linear-gradient(#336a5d 20%, #eaa264 100%);
	--choco-shadow: var(--chocolate) 0 0 var(--spacing-1);
	--beige: #eaa264;
	--white: #ecd6bc;
	--caramel: #925621;
	--chocolate: #503734;
	--black: #322621;
	--red: #9a493f;
	--pink: #b66071;
	--teal: #336a5d;

	--font-serif: "Fraunces", "Georgia", serif;
	--font-sans: "Work Sans", "Helvetica", "Arial", sans-serif;
	--font-size-xs: clamp(0.75rem, 0.5rem + 0.25vw, 0.85rem);
	--font-size-s: clamp(0.95rem, 0.8rem + 0.2vw, 1rem);
	--font-size-base: clamp(1rem, 0.95rem + 0.2vw, 1.2rem);
	--font-size-md: clamp(1.2rem, 1.1rem + 0.5vw, 1.5rem);
	--font-size-lg: clamp(1.35rem, 1.2rem + 0.7vw, 1.7rem);
	--font-size-xlg: clamp(1.5rem, 1.4rem + 0.8vw, 2rem);

	--font-size-deco: 0.2rem;
	--font-size-deco-lg: 0.4rem;
	--font-size-deco-xlg: 0.6rem;

	--spacing-0: calc(4px + 1vw);
	--spacing-1: calc(10px + 1vw);
	--spacing-2: calc(16px + 1vw);
	--spacing-3: calc(32px + 2vw);

	--cubic-bezier: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--ease: 300ms ease;
}

[data-theme="light"]:root {
	--red-gradient: linear-gradient(#cb594a 20%, #f0ac71 100%);
	--white-gradient: linear-gradient(to top, #ffeed59f 0%, #ecd6bc 100%);
	--white: #503734;
	--chocolate: #ecd6bc;
	--beige: #be783b;
	--choco-shadow: #92562177 0 0 var(--spacing-3);
}

::selection {
	background-color: var(--caramel);
	color: var(--white);
}

/* * {
	border: 1px solid red;
} */

/* base */

body {
	font: 400 var(--font-size-s) / 1.6 var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--black);
	background-color: var(--chocolate);
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23be783b6f' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body > * {
	margin: auto var(--spacing-0);
}

/* base typography */

a {
	color: var(--white);
	text-decoration: underline var(--beige) var(--font-size-deco);
	text-underline-offset: 0.1rem;
	transition: var(--cubic-bezier);
}

a:hover {
	color: var(--beige);
	text-underline-offset: -1rem;
	transition: var(--cubic-bezier);
}

h1 {
	font-size: var(--font-size-xlg);
}

h2 {
	font-size: var(--font-size-lg);
}

h3 {
	font-size: var(--font-size-md);
}

h4 {
	font-size: var(--font-size-base);
	color: var(--teal);
}

.price {
	color: var(--red);
}

p {
	margin: var(--font-size-deco-lg) auto;
	max-width: 60ch;
	text-align: left;
}

/* base elements */
hr {
	border: 0;
	border-top: 1px solid var(--white);
	margin: var(--font-size-deco-lg) 0;
}

/* weights */
:is(h1, h2, h3, h4) {
	font-weight: 700;
	font-family: var(--font-serif);
}

nav {
	font-weight: 600;
}

/*layout*/

/*main grid*/

main {
	display: grid;
	grid-template-columns: repeat(2, minmax(auto, 1fr)) minmax(auto, 80ch) repeat(
			2,
			minmax(auto, 1fr)
		);
	grid-template-rows: minmax(auto) auto;
}

main > * {
	margin: auto;
	grid-column: 3 / 4;
}

/*nav*/

nav {
	padding: var(--spacing-0) 0;

	width: 100%;
	grid-column: 2 / 5;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.nav-brand {
	color: var(--beige);
	text-transform: lowercase;
	font-size: var(--font-size-md);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-0);
}

.nav-links > li {
	text-transform: uppercase;
	display: inline-flex;
}

li + li {
	margin-left: var(--spacing-1);
}

/*hero*/
.hero-wrapper {
	background: var(--teal-gradient);
	box-shadow: var(--choco-shadow);
	border-radius: var(--spacing-2);
	width: calc(50vw + 5rem);
	height: calc(100% + 5rem);
}

.hero-wrapper:nth-of-type(3n) {
	background: var(--red-gradient);
}

.hero-content {
	text-align: center;
	margin: var(--spacing-2);
	color: var(--white);
}

/* Book items */

.featured-items,
.cart-items {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, auto));
	grid-auto-flow: dense;
	place-items: stretch center;
	margin: var(--spacing-2) 0;
}

.featured-content {
	max-width: 60ch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--white-gradient);
	border-radius: var(--spacing-2);
	padding: var(--spacing-0) var(--spacing-1);
	margin: var(--font-size-deco-xlg);
	box-shadow: var(--choco-shadow);
}

.featured-book-cover {
	margin: 0 auto;
	max-width: 200px;
	overflow: hidden;
	border-radius: var(--spacing-1);
	filter: grayscale(0);
	box-shadow: var(--choco-shadow);
}

.featured-book-cover img {
	width: 100%;
	transition: all var(--ease);
}

.featured-book-cover img:hover {
	transform: scale(1.1);
	filter: grayscale(0.5);
}

.featured-content-info {
	margin: auto;
}

.featured-content-info * {
	margin-top: var(--font-size-deco-lg);
}

.featured-content-info p {
	line-height: 1.5;
	font-size: var(--font-size-xs);
}

.featured-content-price {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: var(--font-size-deco-lg);
	flex-wrap: wrap;
	margin-bottom: var(--spacing-0);
}

/* taglist */

.smallscreen * {
	display: none;
}

.taglist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--font-size-deco);
}

.tag {
	font-size: var(--font-size-xs);
	color: var(--white);
	background: var(--pink);
	border-radius: var(--spacing-1);
	padding: var(--font-size-deco);
	margin: 0 var(--font-size-deco);
}

.tag:nth-of-type(odd) {
	background: var(--teal);
}

/* buttons */

.theme-button,
.theme-button-right {
	display: flex;
	position: fixed;
	bottom: var(--spacing-0);
	background: var(--beige);
	border-radius: 50%;
	box-shadow: var(--choco-shadow);
	padding: var(--font-size-deco-lg);
	cursor: pointer;
	transition: all var(--ease);
}

.theme-button-right {
	right: var(--spacing-0);
}

.btn {
	border: none;
	border-radius: var(--spacing-1);
	font-size: var(--font-size-s);
	cursor: pointer;
	transition: all var(--ease);
	color: var(--white);
}

.btn-primary {
	background-color: var(--red);
	padding: var(--font-size-deco) var(--spacing-0);
}

.btn-slim {
	background-color: var(--teal);
	padding: 0 var(--font-size-deco-lg);
	margin-inline: 5px;
}

.btn-primary:hover,
.theme-button:hover,
.theme-button-right:hover,
.btn-slim:hover {
	border-radius: 0;
	background-color: var(--teal);
	transform: translateY(-2px);
	box-shadow: var(--choco-shadow);
}

.theme-button:hover,
.theme-button-right:hover {
	background-color: var(--caramel);
}

.btn-primary:active,
.theme-button:active,
.theme-button-right:active,
.btn-slim:active {
	transform: translateY(0);
	box-shadow: none;
}

/* footer */
footer {
	padding: var(--spacing-1);
	color: var(--white);
}

/*progress*/

:is(.progress-container, #progress-bar) {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	height: 0.8%;
	box-shadow: var(--choco-shadow);
}
.progress-container {
	width: 100%;
	background-color: var(--teal);
}

#progress-bar {
	width: 0%;
	background-color: var(--beige);
}

/* alignment adjustments */

:is(main, .featured-content) > * + * {
	margin-top: var(--font-size-deco);
}

.featured-content-info > :is(h3, h4, p),
.hero-content p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

:is(.featured-content-info, .hero-content) > p {
	line-clamp: 6;
	-webkit-line-clamp: 6;
}

.featured-content-info > :is(h3, h4) {
	line-clamp: 2;
	-webkit-line-clamp: 2;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flow > * + * {
	margin-top: 5px;
}

.center {
	text-align: center;
}

/*media queries*/

@media screen and (max-width: 1500px) {
	.hero-wrapper {
		width: calc(90% + 1rem);
	}
}

@media screen and (max-width: 350px) {
	nav {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: var(--spacing-1) 0;
	}

	.nav-cart,
	.nav-links {
		padding-top: var(--spacing-0);
	}
}

@media screen and (max-width: 579px) and (min-width: 445px) {
	.featured-content {
		display: grid;
		grid-template-columns: repeat(3, auto);
		place-content: center;
		place-items: center;
		grid-gap: var(--spacing-1);
		grid-template-rows: 1fr;
	}

	.widescreen {
		display: none;
	}

	.smallscreen * {
		display: flex;
	}

	:is(.featured-content-info, .hero-content) > p {
		line-clamp: 8;
		-webkit-line-clamp: 8;
	}
}

@media screen and (max-width: 444px) {
	.featured-items {
		place-content: center;
		grid-template-columns: minmax(200px, 340px);
		margin: var(--spacing-0) 0;
	}
}

/* theme adjustments */
[data-theme="light"] :is(.hero-content, .tag, .featured-content-price button) {
	color: var(--chocolate);
}
[data-theme="dark"] :is(.featured-content, .hero-content) a {
	color: var(--red);
	text-decoration: underline var(--white) var(--font-size-deco);
}
